.favourites-icon {
      width: 20px;
      height: 20px;
      padding-bottom: 5px;
}

#btn-details {
      background-color: rgb(145, 56, 56);
      color: #767676;
      padding: 10px;
      border-top: 1px solid #e6e6e6;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: all 0.5s ease;
}