<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Bootsrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

      <link rel="stylesheet" href="../style/main.css">
      <link rel="stylesheet" href="../style/favourites-page.css">

      <link rel="icon" href="../img/logo.svg" type="image/x-icon">
      <title>Weather Now</title>
</head>
<body>
      <header>
            <!-- Fixed Navbar -->
            <nav class="navbar navbar-expand-lg bg-light fixed-top">
                  <div class="container-fluid">
                        <a class="navbar-brand" href="../index.html">
                              <img src="../img/logo.svg" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
                              Weather Now
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                              <ul class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                          <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" href="forecast.html">Forecast</a>
                                    </li>
                              </ul>

                              <form class="d-flex">
                                    <input class="form-control me-2 ms-2" type="search" placeholder="Cidade" aria-label="Search">
                                    <button class="btn btn-outline-secondary" type="submit">Procurar</button>
                              </form>
                        </div>
                  </div>
            </nav>
      </header>

      <!-- Container where the fav cards are going to be -->
      <section class="container">
            <div class="container py-5 vh-100 d-flex flex-column gap-5 justify-content">
                  <div id="card" class="flex-row gap-5 d-flex justify-content-center">
                        <div class="container bcontent">
                              <br>
                              <div class="d-flex">
                                    <h2>Favoritos</h2>
                                    <button id="clear-fav-btn" class="btn btn-outline-secondary">Limpar Favoritos</button>
                              </div>
                              <hr/>
                        </div>
                  </div>
            </div>
      </section>
      
      <!-- Template for the cards -->
      <template id="fav-card-template">
            <div class="card" style="width: 1000px;">
                  <div class="row no-gutters">
                        <div class="col-sm-5">
                              <img src="" alt="" class="card-img">
                        </div>
                        <div class="col-sm-7">
                              <div class="col-sm-">
                                    <button class="btn btn-secondary m-2">Remover Favorito</button>
                              </div>
                              <div class="card-body">
                                    <h5 class="card-title text-center">Cidade</h5>
                                    <p class="card-text text-center">Clima</p>
                                    <p class="card-text text-center">Temperatura</p>
                                    <p class="card-text text-center">Humidade</p>
                                    <p class="card-text text-center">Vento</p>
                              </div>
                        </div>
                  </div>
              </div>
      </template>

      <!-- Bootsrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

      <script type="module" src="../scripts/favourites_page.js"></script>
</body>
</html>