<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/forecastPage.css">

    <link rel="icon" href="../img/logo.svg" type="image/x-icon">
    <title>Weather Now</title>

    <script type="module" src="../scripts/forecastPage.js"></script>
    <script type="module" src="../scripts/common/common.js"></script>
</head>
<body>
    <header>
        <!-- Fixed Navbar -->
        <nav class="navbar navbar-expand-lg bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/logo.svg" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
                    Weather Now
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="favourites.html">Favoritos</a>
                        </li>
                        <li class="nav-item">
                            <button id="btn-change-metric" class="btn btn-secondary"></button>
                        </li>
                    </ul>

                    <form id="search-form" class="d-flex">
                        <input id="search-box" class="form-control me-2 ms-2" type="search" placeholder="Cidade" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit">Procurar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Template for the weather forecast cards -->
    <template id="forecast-card-template">
        <div id="card" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div id="card-datetime" class="card-header">Dia</div>
            <div class="card-body">
                <h5 id="card-data" class="card-title">Tempo</h5>
            </div>
        </div>
    </template>
    
    <section class="">
        <div class="container py-5 vh-100 d-flex flex-column gap-5 justify-content">
            <div id="card" class="flex-row gap-5 d-flex justify-content-center">
                <div class="container bcontent">
                    <br>
                    <h2 id="city-tittle">Cidade</h2>
                    <hr>
                    <div class="card text-center">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills">
                                <li class="nav-item">
                                    <button id="btn-forecast-range" class="btn btn-secondary m-2 active" data-toggle="button" aria-pressed="true" autocomplete="off">5 em 5 dias</button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div id="forecast-cards-container-row-1" class="row">
                                <!-- Forecast results should be inserted here -->
                            </div>
                            <div id="forecast-cards-container-row-2" class="row">
                                <!-- Forecast results may take up this space as well if we are watching the 5 day range -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- Bootsrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>